lambda/node_modules/
lambda/dist/

presign-server/node_modules/
presign-server/.env

infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/*.tfstate
infra/*.tfstate.backup
infra/**/.terraform/
infra/**/*.tfstate
infra/**/*.tfstate.backup

200x200-Ingrid.png
npm-debug.log*
coverage/
